/* https://www.youtube.com/watch?v=dIyVTjJAkLw&ab_channel=codeSTACKr */

:root {
  --header-height: 60px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 45px;
  height: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 2;
  background-color: var(--bg);
}

@media only screen and (max-width: 600px) {
  .sub-category__title:not(.open):hover {
    color: var(--blue);
  }

  .dark .sub-category__title:not(.open):hover {
    color: var(--blue-dark);
  }

  .sub-category__title.open {
    color: var(--yellow);
  }

  .dark .sub-category__title.open {
    color: var(--yellow-dark);
  }

  #sidebar {
    max-width: none;
    align-items: center;
    border-right: none;
  }
  #sidebar .page-title {
    display: none;
  }

  .input-text input {
    width: 100%;
  }

  #sidebar,
  #content {
    margin-top: var(--header-height);
    margin-left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
  }

  #sidebar.close {
    display: none;
  }
  #content.close {
    display: none;
  }

  #page {
    flex-direction: column;
  }

  #header {
    display: flex;
    position: fixed;
    width: 100%;
    height: var(--header-height);
  }
}
