/* base */
.input-saerch-container {
  padding: 12px 8px;
  border-bottom: 1px solid var(--border);
}

.input-search {
  border: none;
  outline: none;

  height: 40px;

  box-sizing: border-box;
  padding: 0 4px;
  width: 100%;
  border-radius: 4px;

  font-size: 1em;
  background-color:rgb(223, 230, 235);
  transition: 250ms background-color;
}

.input-search::placeholder {
  color:rgb(151, 151, 151);
  text-rendering: auto;
}
.input-search:focus {
  background-color: #fAfAfA;
}

.input-search--error {
  border: 1px solid red;
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* dark */
.dark .input-saerch-container {
  border-bottom: 1px solid var(--dark-border);
}

.dark .input-search {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.dark .input-search:focus {
  background-color: var(--dark-bg-2);
}
