:root {
  --category-color: #536dfe;
  --border-color: #e0e6ed;
  --sidebar-gap: max(10%, 190px);
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Reset */
html,
div,
h1,
h2,
h3,
h4,
h5,
input {
  color: #465a6e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* btn */
.btn {
  font-weight: 400;
}
.btn:hover {
  color: #fbc02d;
  cursor: pointer;
}

/* sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: var(--sidebar-gap);
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 2px solid var(--border-color);
}

.sidebar__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #536dfe;
}

.sidebar__title:hover {
  cursor: pointer;
}

.sidebar__item {
  font-family: 'Nunito';
  display: block;
  padding: 16px;
  text-decoration: none;
}

.sidebar__item > div {
  margin-top: 8px;
  font-size: 15px;
}

.sidebar__subtitle {
  color: #8895a7;

  font-family: 'Nunito';
  text-transform: uppercase;
  font-size: 14px;

  padding: 8px 4px;
}

.sidebar__subtitle::before {
  content: '# ';
}

/* (.group__category .btn) replace (.btn:hover) */
.group__category div {
  color: var(--category-color);
  margin-bottom: 8px;
}
.sidebar__describe {
  padding: 0;
}
.sidebar__describe div {
  text-align: center;

  border-radius: 12px;

  margin: 8px;
  padding: 8px;

  color: #90a4ae;
  background-color: #eceff1;
}

/* main */
.sidebar {
  margin-left: 12px;
}
main {
  margin-left: calc(var(--sidebar-gap) + 12px);
}

.main__category {
  font-size: 18px;
}

.row-block {
  padding: 0 12px;

  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.row-block input {
  border: none;
  outline: none;

  background-color: #fff;

  height: 40px;
  width: 50%;

  padding: 0 4px;
}
input::placeholder {
  color: #bfbfbf;
  text-rendering: auto;
}
input:focus {
  border: none;
  outline: none;
  background-color: #f5f8fa;
}

/* link */
.sub-category,
.link {
  transition: color 1s;
}
.sub-category:hover .sub-category__title {
  cursor: pointer;
  color: #fbc02d;
}

.link:hover .link__title {
  color: #03a9f4;
  cursor: pointer;
}

.sub-category__list.enable .sub-category__items {
  border-bottom: 1px solid #a9b6c4;
  border-top: 1px solid #a9b6c4;
}

.sub-category__items {
  background-color: #f5f8fa;
}

.sub-category,
.link {
  display: grid;
  grid-template-columns: 32px calc(100% - 6px);
  grid-gap: 2px;
  grid-template-areas: 'icon title';
  border-bottom: 1px solid var(--border-color);
  padding: 8px 16px;
}

.sub-category__icon,
.link__icon {
  grid-area: icon;

  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;

  margin-right: 8px;
}

.sub-category__icon {
  background-image: url(../pasta.svg);
}

.sub-category__title,
.link__title {
  grid-area: title;

  font-family: Arial;
  font-size: 16px;
}

.link__title {
  color: black;
}

.link__favorite::before {
  content: '⭐ ';
}

.sub-category__title {
  color: var(--category-color);
}
