/* light */
:root {
  --blue: #536dfe;
  --lightblue: #03a9f4;
  --yellow: #fbc02d;

  --bg: #efefef;
  --bg-2: #eef3f7;

  --border: #e0e6ed;
  --sidebar-gap: max(10%, 190px);

  --text: #465a6e;
}

/* dark */
:root {
  --dark-blue: rgb(84, 156, 254);
  --dark-yellow: rgb(251, 196, 58);

  --dark-bg: #181a1b;
  --dark-bg-2: #212529;

  --dark-text: rgb(175, 168, 158);
  --dark-describe: rgb(33, 36, 37);

  /* sidebar */
  --dark-subtitle: #8895a7;

  /* content */
  --dark-link: rgb(232, 230, 227);
  --dark-border: #2b394a;
}
