/* base */
.description-links {
  text-align: center;

  border-radius: 12px;
  font-size: 0.9rem;

  padding: 8px 12px;

  color:rgb(85, 87, 88);
  background-color:rgb(237, 245, 250);
}

/* dark */
.dark .description-links {
  color: var(--dark-text);
  background-color: var(--dark-describe);
}
